<!DOCTYPE html>

<body>
    <link rel = "stylesheet" href = "pfi-styles.css">
    <ul>
        <form method = "post" action = "/enterWorkout">
            <li>
                <label class = "title"> Insert Fitness Info <br> </label>
                <ul>
                    <li>
                        <label class = "sectitle">
                            Exercise Time:
                        </label>
                    </li>   
                    <li>
                        <input type = "text" name = "time" id = "time"> 
                    </li>
                    <li>
                        <label class = "sectitle">
                            Exercise Type
                        </label>
                    </li>
                    <li>
                        <input type = "text" name = "type" id = "type">
                    </li>
                    <li>
                        <label class = "sectitle">
                            Exercise Date
                        </label>
                    </li>
                    <li>
                        <input type = "text" name = "date" id = "date">
                    </li>

                    <li>
                        <input type = "submit" value  = "Enter Workout" class = "enter">
                    </li>
                </ul>
            </li>
        </form>
        <li>

        </li>
        <form method = "post" action = "/returnLogin">
            <input type = "submit" value = "Return to login page" class = "enter">
        </form>
    
    </ul>
   
    
</body>